.btn {
  width: 291px;
  height: 57.28px;
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 25px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 22.9134px;
  line-height: 41px;
  text-transform: uppercase;
  cursor: pointer;
}

