@import 'base/fonts';
@import 'base/variables';
@import 'base/btn';
@import 'base/positions';
@import 'base/title';
@import 'base/card';
@import 'base/phone-call';
@import 'base/feedback-form';
@import 'base/to-top';
@import 'base/modal';


@import 'blocks/concept';
@import 'blocks/features';
@import 'blocks/price';
@import 'blocks/what-are-we-fighting';
@import 'blocks/stock/stock';
@import 'blocks/stock/stock-slider';
@import 'blocks/testimonials/testimonials';
@import 'blocks/testimonials/testimonials-slider';
@import 'blocks/before-after';
@import 'blocks/contacts';

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--main-color);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--main-color);
    &:active {
        text-decoration: none;
        color: var(--main-color);
    }
}


@media (min-width: 1201px) {
    .container {
        width: 1240px;
        padding: 0;
    }
}
